.features {
    font-size: 14px;
    // padding-top: 94px;
}

.features__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap; 
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap; 
    }
    
}

.features__item {

    @media screen and (max-width: 767.999px) {
        &:not(:last-child) {
            // margin-right: 30px;
            margin-bottom: 30px;
        }
    }
    

    @media screen and (min-width: 768px) and (max-width: 1199.999px) {
        width: 354px;

        &:nth-child(odd) {
            margin-right: 30px
        }

        .list-item:nth-child(-n + 2) {
            margin-bottom: 30px;
          }
        
    }

    @media screen and (min-width: 1200px) {
        

        &:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 0px;
        }
        
    }
}

.features__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $mid-grey-color;
}

.features__title { 
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    color: $first-text-color; 
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.features__text {
    margin-top: 10px;
    line-height: 1.71;
} 