.header {
    border-bottom: 1px solid $light-grey-color2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header__container {
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
} 

.header__logo {
    color: $black-color;
    
    // margin-right: 93px;

    @media screen and (max-width: 767px){
        // padding-top: 16px;
        // padding-bottom: 16px;
        font-size: 24px;
        display: inline-block;
    }
    // padding-top: 24px;
    // padding-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-right: 88px;

    }
}

.header-contacts {
    color: $second-text-color;
    display: flex;
    
    font-size: 24px;

    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
    }

    @media screen and (min-width: 768px) {
        font-size: 12px;  
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
    }


}

// .header-contacts > .contact__item {
//     &:not(:last-child) {
//         margin-right: 50px;
//     }
// }

// .header-contacts .contact__icon {
//     margin-right: 10px;
// }

.header__item {
    

    @media screen and (max-width: 767px) {
        &:not(:first-child) {
            margin-bottom: 32px;   
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:not(:last-child) {
            margin-bottom: 10px;   
        }
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.header__phone-item {
    @media screen and (max-width: 767px) {
        color: $brand-color;
        font-size: 34px;
    }
    
}

.header__link {
    display: flex;

    // align-items: center;
  
}


