$first-text-color: #212121;
$second-text-color: #757575;
$white-color: #fff;
$black-color: #000;
$brand-color: #2196F3;
$brand-color-accent: #188CE8;
$background-color: #2F303A;
$light-grey-color: #EEEEEE;
$light-grey-color2: #ececec;
$mid-grey-color: #f5f4fa;
$grey-color-with-opacity: rgba(255, 255, 255, 0.6);
$social-icon-color: #afb1b8;
$dark-grey-color: rgba(255, 255, 255, 0.1);
$grey-with-opacity: rgba(47, 48, 58, .8);
$backdrop-with-opacity: rgba(0, 0, 0, .1);
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
$button-shadow: rgba(0, 0, 0, 0.15);
$placeholder-color: rgba(117, 117, 117, 0.5);
$border-color: rgba(33, 33, 33, 0.2);